/* Version 1.0.0 */

/* GLOBAL TAG CLASSES */

body{
  font-family: TradeGothic, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2 {
    float:left;
    font-family: TradeGothic, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:22px;
    font-weight:lighter;
    color:#484747;
    letter-spacing:1px;
    margin:-2px 0px 0px 0px;
    padding:0;
    }

h4 {
    float:left;
    font-family: TradeGothic, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:13px;
    font-weight:lighter;
    color:#eee;
    letter-spacing:2px;
    margin:1px 0 0 5px;
    padding:0;
    }

a { text-decoration: none; }

li{
  padding-bottom: 6px;
}

input, button{
  margin-top:5px;
}

/* PLAYER URL */

#playerURLOptions{
  margin-left: 10px;
}

#comboLabel{
  font-size: 12px;
  color:#ccc;
  height: 10px;
  margin:0px 0px 0px 4px;
}

/* CONTENT CLASSES */

#codeContent{
  margin-top: 7px;
  width:100%;
  height:720px;
  overflow: hidden;
}

#playerArea{
  position:relative;
  width:640px;
}

#leftContent{
  float:left;
  width:60%;
  height:100%;
  font-size: 13px;
}

#rightContent{
  width:40%;
  height:100%;
  float:right;
  font-size:15px;
  color:#686767;
  letter-spacing:1px;
}

#rightContentControl{
  width:100%;
  height:100%;
  font-size:12px;
}

#controlsHolder{
  width:100%;
  height:100%;
  background-color: #0C1021;
}

#controlsHolder ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#controlsHolder ul li{
  display: inline;
}

#controlsHolder ul li div{
  background-color: #0C1021;
  text-align: center;
  padding: 13px 0px;
  font-size: 13px;
  color: #eee;
  cursor: pointer;
  border-bottom: 1px solid #00204C;
}

#controlsHolder ul li div:hover, #controlsHolder ul li div.active{ /*#floatingMenu ul li div:hover*/
  background-color:#16366B;/*#0D2D69;*/
  /*background-color:#004f9f;*/
  /*border-bottom: 1px solid #013B8C;*/
}

#controlsHolder ul li div.launch:hover, #controlsHolder ul li div.changes{
  color: #09AD0B;
}

#controlsHolder #samples_menu li div{
  background-color:#0A6ED1;
}

.keywords{
  list-style-type: circle;
  margin: 0px;
  padding: 0px 0px 0px 23px;
}

.instructions{
  list-style-type: decimal;
  margin: 0px;
  padding: 0px 0px 0px 23px;
}

#burger-icon{
  font-size: 24px;
  position: absolute;
  top: 3px;
  left: 14px;
  color: #0A6ED1;
}

/* EDITOR'S CLASSES */

#playerScriptEditor div.CodeMirror{
  display: inline-block !important;
}

#playerScriptEditor .CodeMirror-vscrollbar{
  overflow: hidden;
}

#codeEditor{
  width:100%;
  /*height:450px;*/
  overflow: hidden;
  padding-top: 8px;
}

#playerScriptEditor{
  width:100%;
  height:40px;
  padding-bottom:14px;
}

#htmlEditor{
  width:100%;
  height:100%;
  margin-top:10px;
  overflow: hidden;
  padding-top: 8px;
}

#finalCodeEditor{
  width:100%;
  height:700px;
  margin-top:10px;
  overflow: hidden;
  position: relative;
  top:16px; 
}

/* EDITOR'S Containers */

#finalEditor{
  display: none;
}


/* LAYOUT */

.ui-layout-pane{
  border:0px !important;
}

.ui-layout-resizer-sliding  .ui-layout-toggler {
    display: none  !important;
}

.ui-layout-center{
  padding: 0px !important;
}

.container-west, .editors .editorHolder {
  background-color: #0C1021;
}

.container-west, .container-center{
  padding: 0px  !important;
  width: 100%;
}

div.ui-layout-west.ui-layout-pane.ui-layout-pane-west{
  padding: 0px  !important;

}

/* STYLES */

.zenburn{
  color:#eee;
  background-color: #0C1021;
}

.base16-light{
  color:#000;
  background-color: #f5f5f5;
}



.tooltip{
 font-family: TradeGothic, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #0C1021;
  font-weight: lighter;
  /*text-align: center;*/
  padding: 14px 7px 14px 13px;
  font-size: 13px;
  color: #eee;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: #16366B;
  z-index: 1001;
  display: inline-block;
  min-width: 53px;
  position: absolute;
}

/* SAMPLE MENU */

.triangle{
  position: absolute;
  left: 40px;
  border-style: solid;
  border-width: 18px 13px 18px 0;
  border-color: transparent #16366B transparent transparent;  
  z-index: 1001;
}


#floatingMenu{
  display: none;
  position:fixed;
  top:74px;
  left:53px;
  background-color: #16366B; 
  z-index: 1001;
width: auto;
  height: auto;
}

#floatingMenu ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#floatingMenu li{
  display: inline-grid;
  position: relative;
}

#floatingMenu ul li {
  font-family: TradeGothic, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #16366B;
  font-weight: lighter;
  text-align: center;
  padding: 14px 0px;
  font-size: 13px;
  color: #eee;
  letter-spacing: 1px;
  cursor: pointer;
  border-bottom: 1px solid #00204C;
  border-right: 1px solid #00204C;
}

#floatingMenu ul ul{
  position: absolute;
  display: none;
  width: 150px; 
}

#floatingMenu li:hover ul{
  left: 150px;
  top:0;
  display: block;
}

#floatingMenu li:hover{
  background-color: #0A6ED1;
}

#samples_menu{
  width: 150px;
  height: 300px;
}





.floatingContent{
  font-family: TradeGothic, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 13px;
  padding: 0px 14px 46px;
  color: #eee;
  letter-spacing: 1px;
}

.exportGist input, .exportGist textarea{
  width: 260px;
}

.button{
  background-color: #0A6ED1;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
  float: right;
}

.button div, .button div a{
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #eee;
}

.APIbtn{
  margin: 6px 15px 0px 0px;
}

#debugInstructions{
 list-style-type: decimal;
  margin: 0px;
  padding: 0px 0px 0px 23px; 
}